.z-10 {
  z-index: 10;
}

.glass-panel {
  background: rgb(var(--v-theme-surface), 0.5);
  backdrop-filter: blur(10px);
}

.required {
  .v-field-label::after {
    content: ' *';
    color: rgb(var(--v-theme-error));
  }
}
